.logo {
  font-family: 'Raleway', sans-serif;
}

.nav{
font-family: "Roboto", sans-serif;
}

.body {
  font-family: "Roboto", sans-serif;
}

.contacts{
 font-family: "Roboto", sans-serif;
}


.footer-p{
  font-family: "Roboto", sans-serif;
}
